@import "~@angular/material/theming";
@include mat-core();

$LojaDeJogos-primary: mat-palette($mat-teal);
$LojaDeJogos-accent: mat-palette($mat-blue, A200, A100, A400);
$LojaDeJogos-warn: mat-palette($mat-deep-orange);

$LojaDeJogos-theme: mat-light-theme($LojaDeJogos-primary, $LojaDeJogos-accent, $LojaDeJogos-warn);

@include angular-material-theme($LojaDeJogos-theme);

$primary: map-get($LojaDeJogos-theme, primary);
$foreground: map-get($LojaDeJogos-theme, foreground);

html,
body {
    height: 100%;
    background-color: #eeeeee;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-formulario {
    padding: 16px;

    mat-card {
        max-width: 960px;
        margin: auto;

        .avatar {
            background-color: mat-color($primary);
            color: mat-color($primary, default-contrast);
        }
    }

    .spinner-container {
        margin: auto;
        margin-right: 8px;
    }

    .uppercase {
        text-transform: uppercase;
    }

    .conteudo {
        max-width: 960px;
        margin: auto;
    }
}

.mat-snack-bar-container {
    background-color: #4caf50;
    min-width: auto !important;
}
